.reminisceButton {
	font-family: "Poppins Bold";
	font-size: 1.5rem;

	background-color: transparent;

	border: 2px solid white;
	color: white;
	outline: none;

	padding: 10px 25px;

	transform: translateY(-140px);

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.reminisceButton:hover {
	color: #000;
    background-color: #FFF;
	cursor: pointer;
}

.indicatorContainer {
	display: inline-flex;
	justify-content: center;
	color: white;
}

.innerContainer {
	display: flex;
	align-items: center;
}

.feelAsThoughImage {
	width: 780px;
	height: 750px;
}

.filledCircle {
	background-color: white;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	margin: 0 25px 50px 25px;
	transition-duration: 0.3s;
}

.emptyCircle {
	border: 1px solid white;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	margin: 0 25px 50px 25px;
	transition-duration: 0.3s;
	cursor: pointer;
}

.emptyCircle:hover {
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 780px) {
    .feelAsThoughImage {
		width: 500px;
		height: 480px;
	}

	.innerContainer {
		display: flex;
		justify-content: center;
	}

	.carouselContainer {
		justify-content: center;
	}

	.reminisceButton {
		font-size: 1.3rem;
		transform: translateY(0);
	}

	.filledCircle {
		width: 20px;
		height: 20px;
		margin: 0 15px 0 15px;
		transform: translateY(-30vh);
	}
	
	.emptyCircle {
		width: 20px;
		height: 20px;
		margin: 0 15px 0 15px;
		transform: translateY(-30vh);
	}
}

@media only screen and (max-width: 500px) {
    .feelAsThoughImage {
		width: 375px;
		height: 360px;
	}

	.reminisceButton {
		font-size: 1.1rem;
	
		transform: translateY(0);
	}

	.filledCircle {
		width: 15px;
		height: 15px;
		margin: 0 12px 0 12px;
		transform: translateY(-35vh);
	}
	
	.emptyCircle {
		width: 15px;
		height: 15px;
		margin: 0 12px 0 12px;
		transform: translateY(-35vh);
	}
}