.hero {
    width: 100%;
}

.contentContainer {
    display: flex;
    flex-direction: column;

    margin: 50px 200px;

    text-align: center;
}

.subcontainer {
    display: flex;
    justify-content: center;

    font-family: "Poppins";
    font-size: 1.15rem;

    margin: 25px;
}

.reminisceButton {
    font-family: "Poppins Bold";
    font-size: 1.25rem;

    background-color: #FFF;

    border: 2px solid black;
    outline: none;

    padding: 10px 25px;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.reminisceButton:hover {
    color: #FFF;
    background-color: #000;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.lineParent {
    margin: 50px 100px;
    position: relative;

    display: flex;
    justify-content: center;
}

.lineParent::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px solid black;
    background: black;
    width: 100%;
    transform: translateY(-50%);
}

.lineContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.textBold {
    font-family: "Poppins Bold";
    font-size: 1.35rem;
}

.textReg {
    font-family: "Poppins";
    font-size: 1rem;
}

.textThanks {
    font-family: "Poppins Bold";
    font-size: 1rem;

    margin: 40px 0px 120px;
}

.creditsContainerRow, .creditsContainerNameRow {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: left;

    margin: 40px auto 80px;
}

.creditsContainerNameRow {
    text-align: center;
    justify-content: space-around;
}

.creditsContainerName {
    margin-left: 30px;
}

@media only screen and (max-width: 992px) {
    .contentContainer {   
        margin: 50px 100px;
    
    }

    .creditsContainerNameRow {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 768px) {
    .contentContainer {   
        margin: 50px;
    
    }

    .creditsContainerNameRow {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 650px) {
    .feelImage {
        width: 392px;
        height: 234.5px;
    }

    .subcontainer {
        font-size: 1rem;
    
    }

    .reminisceButton {
        font-size: 1rem;
    
        padding: 5px 15px;
    }

    .textBold {
        font-size: 1.25rem;
    }
    
    .textReg {
        font-size: 0.9rem;
    }

    .textThanks {
        font-size: 0.9rem;
    
    }

    .creditsContainerNameRow {
        flex-direction: column;
    }

    .creditPhoto {
        width: 175px;
        height: 175px;
    }

}

@media only screen and (max-width: 500px) {
    .feelImage {
        width: 274.4px;
        height: 164.15px;
    }
    
    .contentContainer {
        margin: 50px 30px;
    }

    .subcontainer {
        font-size: 0.9rem;
    
    }

    .textBold {
        font-size: 1.15rem;
    }
    
    .textReg {
        font-size: 0.86rem;
    }

    .textThanks {
        font-size: 0.86rem;
    
    }

    .creditPhoto {
        width: 140px;
        height: 140px;
    }
}