.navContainer {
    display: flex;

    background-color: transparent;

    float: right;

    position: absolute;
    z-index: 2;

    top: 0;
    right: 0;

    padding: 30px 80px;

    font-size: 1.35rem;
}

.innerContainer {
    display: flex;

    justify-content: space-between;

    padding-bottom: 15px;

    border-bottom: 2px solid white;
}

.navItemBold {
    font-family: "Poppins Bold";

    margin: 0px 40px;
    color: white;
}

.navItemNormal {
    font-family: "Poppins";

    margin: 0px 40px;
    color: white;
}
